NODE_ENV=development
PORT=4000

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=auraflow

# Stellar Network
STELLAR_NETWORK_PASSPHRASE=Test SDF Future Network ; October 2022
STELLAR_RPC_URL=https://soroban-testnet.stellar.org

AURAFLOW_SESSION_SECRET=change_me_to_a_secure_random_string
COMPANY_KEY_ENCRYPTION_SECRET=change_me_to_a_32_byte_hex_key

# Deployed Soroban Contract Addresses
CONFIDENTIAL_TOKEN_CONTRACT=CAWBSB2ABV57UPX4SUTXCUNHLXEMMFSX7W57TIMRDQCAUOUC7UNUVLZ4
AURAFLOW_PAYROLL_CONTRACT=CAFU7ZCRDNQRBZPBHB2WCU4N7G7BIKTBZBMC7PEX4RILLBPCFB4WMALI
VERIFIER_CONTRACT=CDJ3YYBMJNGVPRO6UDIVYGZTPDA3JFI7R7A3L3AQ4S3MU36FMMGVUZI6
AUDITOR_CONTRACT=CD6GIKGBSO4Q3S25YPXV5MSAYGNNPAXRQMWITBLSI2PLXZLBDNBI4HVA

# Stellar USDC (SAC)
USDC_CONTRACT=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA

CORS_ORIGIN=http://localhost:3000
